body{
  background-color: lightgray;
}


h1{
  margin-left: 5px;
}

/* Add little light color in input field */
input[type="text"],
input[type="number"],
select {
  background-color: rgb(241, 234, 234); 
}

/* Make labels little bold and distant from left */
label{
   margin-left: 10px;
   font-weight: 500;
}

li button {
  display: inline-block; /* Make buttons inline */
  vertical-align: middle; /* Align buttons vertically */
  margin-left: 5px; /* Add space between buttons */
}

